body{
    margin: 0;
    display: flex;
    font-family: sans-serif;
    background-color: rgb(58, 58, 58);
}

nav{
    width: 20%;
    height: 100vh;
    background-color: rgb(58, 58, 58);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
    transition: 1ms;
}

a:hover{
    color: #b6b9b9;
}

h1{
    color: white;
}

.bloque_1{
    display: flex;
    flex-direction: column;
    width: 78vw;
    height: 25%;
    background-color:aqua
}

.bloque_2{
    display: flex;
    flex-direction: column;
    width: 78vw;
    height: 25%;
    background-color:yellow
}

.bloque_3{
    display: flex;
    flex-direction: column;
    width: 78vw;
    height: 25%;
    background-color:orange
}

.bloque_4{
    display: flex;
    flex-direction: column;
    width: 78vw;
    height: 25%;
    background-color:red
}
